h1 {
	color: red;
}
html {
	background-color: #BCA9A9;
}
body {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
	position: fixed;
	top: 30px;
	bottom: 30px;
	left: 30px;
	right: 30px;
}
p {
	text-align: center;
}
h1 {
	text-align: center;
}
ul {
	list-style-position: center;
}
